<button style="position: absolute; top: 10px; right: 10px; z-index: 100;" ng-click="start();">
	Start({{data.length}})
</button>
<button style="position: absolute; top: 10px; right: 100px; z-index: 100;" ng-click="drawHeatmap();">
	DrawHeatMap
</button>
<table style="font-size: 9px; width: 100vw; height: 100vh; background: rgba(40,40,40,0.3); position: absolute; top: 0; left: 0; pointer-events: none;">
	<!--     {{array}} -->
	<tr ng-repeat="x in array track by $index">
		<td style="background-color: rgba(0,0,0,{{y*1.0/maxNum}});" ng-repeat="y in x track by $index"></td>
	</tr>
</table>